/* GLOBAL */
.html, body{
    font-family: 'Work Sans', sans-serif;

}

/* title là tiêu đề cho các đề mục của toàn trang trang, nên sẽ đặt ở phần Global*/

.title{
    text-align: center;
    margin-bottom: 3rem;

}
.title h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
}
.title p{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 4px;
}
.title p::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}
.title--white p{
    color: white;
}

.section__space{
    padding: 5rem 0;
}

/* HEADER */
.header__top{
    font-size: 14px;
    background-color: #ff4f81;
}
.header__top a{
    text-decoration: none;
}
.header__right a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: black;
    border: 1px solid black;
    color: white;

    text-align: center;
    line-height: 30px;
    margin-left: .25rem;
}
.header__left a:hover{
    color: black !important;
}
.header__right a:hover{
    background-color:#ff4f81;
    border-color: white;
}

.navInstruction a{
    color: black ;
}

.navInstruction .navbar-brand p:first-child{
    font-size: 36px;
    margin-bottom: 0;
    font-weight: bold;
} 
.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}
.navInstruction .navbar-brand p:nth-child(2){
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;

}
#navbarInstruction .nav-item {
    margin: 0 15px;
}
#navbarInstruction .nav-item .nav-link {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5;
}
#navbarInstruction .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
}
#navbarInstruction .nav-item:hover::after {
    width: 100%;
}

#navbarInstruction .nav-item:hover .nav-link {
    color: #ff4f81;
}

#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}

#navbarInstruction .navbar-nav .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6) ;
}
#navbarInstruction .dropdown-item{
    color: white;
    transition: all 0.3s;
}
#navbarInstruction .dropdown-item:focus,#navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}

/* CAROUSEL */
#carouselCyber .carousel-caption h1{
    font-size: 52px;

}

#carouselCyber .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8rem;
    font-weight: 300;

    width: 70%;
    margin: 0 auto;

    margin-bottom: 25px;
}
#carouselCyber .carousel-caption button{
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 4px;
    transition: all 0.3s;
}
#carouselCyber .carousel-caption button:hover{
    background-color:#ff4f81;
    border-color: #ff4f81;
}

#carouselCyber .carousel-caption {
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* WELCOME */
.welcome__content>p{
    width: 80%;
    margin: 0 auto;

    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}
.welcome__item i{
    font-size: 2rem;
}
.welcome__item h3{
    color: #ff4f81;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.welcome__item h4{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}
.welcome__item p{
    color: #999;
    font-size: 15px;
    line-height: 1.8rem;
    margin-top: 10px;
    letter-spacing: 1px;
}
.welcome__col{
    padding: 1.5rem;
}

/* OUR STATS */
.ourStats{
    background-image: url(../img/imageInstruction/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.ourStats__content{
    text-align:center;
    color: white;
}